@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Добро пожаловать в Contoso University</h2>
        <p>
            Contoso University - это простое приложение, демонстрирующее как использовать
            Entity Framework Core в
            ASP.NET Core MVC web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Создать с нуля</h2>
        <p>Вы можете создать это приложение, следуя шаг за шагом в серии руководств.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Посмотреть руководство &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Скачать</h2>
        <p>Вы можете скачать готовый проект с GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">Посмотреть код &raquo;</a></p>
    </div>
</div>